body{
    background-color: rgb(0, 33, 41);
    display: flex;
}

.world {
    position: relative;
}

#player1{

    position: absolute;
}

.pilt{

    margin: 300px;
    text-size: 200px;
    image-rendering: pixelated;
}

#pilt3{
    color: white;
    margin: 10px;
    width: 90px;
    
}
#nimii{
    color: orange;
}