body{
    background-color: rgb(0, 33, 41);
    display: flex;
}

.world {
    position: relative;
}

#player{

    position: absolute;
}

#image{

    image-rendering: pixelated;
}

#tekst{
    color: white;
    margin: 10px;
    width: 90px;
    
}
#nimii{
    color: orange;
}
.player{

   margin:150px;
}